services:
  - type: web
    name: accessibility-analyzer-backend
    env: node
    plan: free
    region: oregon
    branch: main
    rootDir: backend
    buildCommand: rm -rf node_modules package-lock.json && npm install
    startCommand: npm start
    envVars:
      - key: PAGESPEED_API_KEY
        sync: false
      - key: PORT
        value: 5000
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: CLIENT_URL
        sync: false
      - key: JWT_SECRET
        sync: false
